.main {
    display: flex;
    gap: 20px;
    border: 2px solid blue;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;



}

.main:hover {
    background-color: rgb(223, 226, 247);
}


.name {
    display: flex;
    gap: 10px;

}

.avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;

}

.address {
    text-align: left;
    width: 200px;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

.button:hover {
    background-color: #808000;
    color: white;
    font-weight: bolder;


}